
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
/.vs/TesteUpdate/DesignTimeBuild/.dtbcache.v2
/.vs/TesteUpdate/project-colors.json
/.vs/TesteUpdate/v17/.futdcache.v1
/TesteUpdate.Android/Assets/AboutAssets.txt
/TesteUpdate.Android/Properties/AndroidManifest.xml
/TesteUpdate.Android/Properties/AssemblyInfo.cs
/TesteUpdate.Android/Resources/AboutResources.txt
/TesteUpdate.Android/Resources/mipmap-anydpi-v26/icon.xml
/TesteUpdate.Android/Resources/mipmap-anydpi-v26/icon_round.xml
/TesteUpdate.Android/Resources/mipmap-hdpi/icon.png
/TesteUpdate.Android/Resources/mipmap-hdpi/launcher_foreground.png
/TesteUpdate.Android/Resources/mipmap-mdpi/icon.png
/TesteUpdate.Android/Resources/mipmap-mdpi/launcher_foreground.png
/TesteUpdate.Android/Resources/mipmap-xhdpi/icon.png
/TesteUpdate.Android/Resources/mipmap-xhdpi/launcher_foreground.png
/TesteUpdate.Android/Resources/mipmap-xxhdpi/icon.png
/TesteUpdate.Android/Resources/mipmap-xxhdpi/launcher_foreground.png
/TesteUpdate.Android/Resources/mipmap-xxxhdpi/icon.png
/TesteUpdate.Android/Resources/mipmap-xxxhdpi/launcher_foreground.png
/TesteUpdate.Android/Resources/Resource.designer.cs
/TesteUpdate.Android/Resources/values/colors.xml
/TesteUpdate.Android/Resources/values/styles.xml
/TesteUpdate.Android/TesteUpdate.Android.csproj
/TesteUpdate.sln
/TesteUpdate/AssemblyInfo.cs
/TesteUpdate/TesteUpdate.csproj
